<div class="w-[350px] my-8">
    <div class="aspect-h-1 aspect-w-1">
        <img
            src="https://images.unsplash.com/photo-1580048915913-4f8f5cb481c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fG1vbmV5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            class="w-full h-full object-center object-cover rounded-lg"
        />
    </div>
    {% include 'components/tag.html' %}
    <h1 class="text-active-black font-bold text-2xl mt-3">
        Atur Keuangan Kamu dengan 5 tips berikut
    </h1>
    <p class="text-soft-gray mt-3">
        Kamu lagi libur namun tidak tahu ingin kemana? Disini kamu bisa
        memperoleh destinasi destinasi wisata untuk mengisi ...
    </p>

    <div class="flex items-center space-x-2 mt-8">
        <div class="w-[50px] h-[50px]">
            <img
                src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
                alt="avatar"
                class="object-center object-cover rounded-full"
            />
        </div>
        <div class="flex flex-col space-y-1">
            <span class="font-medium text-soft-black">By: James</span>
            <span class="font-medium text-sm text-soft-gray"
                >29 February 2021</span
            >
        </div>
    </div>

    <div class="flex justify-end items-center space-x-2 cursor-pointer mt-5">
        <span class="font-bold text-purple">Read More</span>
        <svg
            width="18"
            height="12"
            viewBox="0 0 18 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M12 1L17 6M17 6H1M17 6L12 11"
                stroke="#645ADF"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </div>
</div>
