<nav class="w-full shadow-md fixed top-0 bg-white z-10">
    <div class="h-[96px] w-4/5 mx-auto flex justify-between items-center">
        <div></div>
        <ul class="flex space-x-10">
            {% if active == 'home'%}
                <li class="font-bold text-active-black after:block after:h-[3px] after:w-[50px] after:bg-soft-black after:rounded-full after:absolute after:mt-2">Home</li>
            {% else %}
                <li class="text-soft-black"><a href="/">Home</a></li>
            {% endif%}

            {% if active == 'category'%}
                <li class="font-bold text-active-black after:block after:h-[3px] after:w-[50px] after:bg-soft-black after:rounded-full after:absolute after:mt-2">Category</li>
            {% else %}
            <li class="text-soft-black"><a href="/categories">Category</a></li>
            {% endif%}

            {% if active == 'tag'%}
                <li class="font-bold text-active-black after:block after:h-[3px] after:w-[50px] after:bg-soft-black after:rounded-full after:absolute after:mt-2">Tag</li>
            {% else %}
                <li class="text-soft-black"><a href="/tags">Tag</a></li>
            {% endif%}

            {% if active == 'about'%}
                <li class="font-bold text-active-black after:block after:h-[3px] after:w-[50px] after:bg-soft-black after:rounded-full after:absolute after:mt-2">About</li>
            {% else %}
                <li class="text-soft-black"><a href="/about">About</a></li>
            {% endif%}
        </ul>
        <div>
            {% if user %}
            <div class="relative flex flex-col" id="dropdown">
                <div class="w-[50px] h-[50px] flex-end">
                    <img
                        src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
                        alt="avatar"
                        class="object-center object-cover rounded-full"
                    />
                </div>
                <div class="absolute right-0 top-0 mt-20 bg-white py-3 pl-5 pr-10 flex flex-col rounded-lg border-2 border-[#efefef] hidden" id="dropdown-menu">
                    <a class="text-soft-black p-3 font-medium hover:text-purple" href="/admin/dashboard">Dashboard</a>
                    <form action="/logout" method="post" >
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button type="submit" class="text-soft-black font-medium p-3 hover:text-purple">
                            Logout
                        </button>
                    </form>
                </div>
            </div>
            {% else %}
            <form action="/login">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit"
                    class="bg-purple text-white font-semibold px-5 py-2 rounded-lg"
                >
                    Login
                </button>
            </form>
            {% endif %}
        </div>
    </div>
</nav>
<script>
    const dropdown = document.querySelector('#dropdown')
    const dropdownMenu = document.querySelector("#dropdown-menu")
    dropdown.addEventListener('click', function(e){
        dropdownMenu.classList.toggle('hidden')
    })
</script>
