<div class="w-full lg:w-[362px] py-5 pl-4 md:pl-8 sticky top-[128px] self-start ">
    {% if type =='post'%}
        <div>
            <h1 class="text-2xl text-active-black font-bold">More from this author</h1>
            {% for author_article in author_articles%}
                <div class="mt-5 ml-5">
                    <a href={{"/posts/" ~ author_article.slug}} class="font-medium text-active-black mt-3 inline-block text-lg hover:text-purple cursor-pointer">{{author_article.title}}</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div>
            <h1 class="text-2xl text-active-black font-bold">Most Viewed</h1>
            {% for article in most_viewed%}
            <div class="mt-5 ml-5">
                <a href={{"/posts/" ~ article.slug}} class="font-medium text-active-black mt-3 inline-block text-lg hover:text-purple cursor-pointer">{{article.title}}</a>
            </div>
            {% endfor %}
        </div>

        <div class="mt-10">
            <h1 class="text-2xl text-active-black font-bold">Category</h1>
            <div class="flex flex-wrap mt-3">
                {% for item in category %}
                <a href={{"/categories/" ~ item.slug}} class="bg-[#efefef] text-soft-black font-medium py-2 px-5 rounded-full m-2 cursor-pointer">{{item.name}}</a>
                {% endfor %}
            </div>
        </div>

        <div class="mt-10">
            <h1 class="text-2xl text-active-black font-bold">Tag</h1>
            <div class="flex flex-wrap mt-3">
                {% for tag in all_tags %}
                    {% include 'components/tag.html' %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>