{% extends 'base.html' %}
{% block content %}
    {% with active='category'%}
        {% include 'components/header.html'%}
    {% endwith %}
    <main class="w-11/12 lg:w-4/5 mx-auto">
        <div class="mt-[96px] py-10">
            <h1 class="font-bold text-4xl text-active-black">
                Category
            </h1>
            <div class="flex justify-center space-x-10 py-10 items-center flex-wrap w-full">
                {% if active == 'all'%}
                    <span class="font-bold text-purple bg-[#645adf1a] py-2 px-5 rounded-md">All</span>
                {% else %}
                    <a href="/categories" class="text-soft-black">All</a>
                {% endif %}

                {% for category in categories %}
                    {% if active == category.name %}
                        <span class="font-bold text-purple bg-[#645adf1a] py-2 px-5 rounded-md">{{category.name}}</span>
                    {% else %}
                        <a href={{"/categories/" ~ category.slug}} class="text-soft-black">{{category.name}}</a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="grid grid-cols-fit auto-flow-col  gap-5">
                {% for article in articles %}
                    {% include 'components/article_card.html'%}
                {% endfor %}

            </div>
        </div>
        {{pagination.links}}
    </main>
{% endblock %}