{% extends 'base.html' %}
{% block content %}
    {% with active='tag'%}
        {% include 'components/header.html'%}
    {% endwith %}
    <main class="w-4/5 mx-auto">
        <div class="mt-[96px] py-10">
            <h1 class="font-bold text-4xl text-active-black">
                Tag
            </h1>
            <ul class="flex justify-center space-x-10 py-10 items-center flex-wrap w-full">
                <li class="font-bold text-purple bg-[#645adf1a] py-2 px-5 rounded-md"><a href="/tags">All</a></li>
                {% for tag in tags %}
                    <li>
                        <a href="/tags/{{tag.name}}">#{{tag.name}}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="grid grid-cols-fit auto-flow-col justify-items-center gap-5">
                {% for article in articles %}
                    {% include 'components/article_card.html'%}
                {% endfor %}
            </div>
        </div>
        {{pagination.links}}
    </main>
{% endblock %}