{% extends 'base.html' %}

{% block content %}
    <div>
        <form action="/dashboard" method="post" class="flex flex-col">
            {{form.csrf_token()}}
            {{form.title.label()}}
            {{form.title()}}
            {{form.category.label()}}
            {{form.category()}}
            {{form.content.label()}}
            {{form.content()}}
            {{form.postedAt.label()}}
            {{form.postedAt()}}
            <input type="submit" value="Submit" />
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content') }}
    </div>
{% endblock %}