<header class="w-full flex justify-between border-b-2 border-[#efefef]">
    <div class="w-full md:w-4/5 flex  mx-auto h-24 items-center justify-between">
        <h1 class="text-xl font-medium text-soft-gray">Welcome, {{author.name}}</h1>
        <div class="flex items-center space-x-5" id="dropdown">
            <div class="w-[50px] h-[50px] flex-end">
                <img
                    src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
                    alt="avatar"
                    class="object-center object-cover rounded-full"
                />
            </div>
        </div>
    </div>
</header>