<header class="w-full flex justify-between border-b-2 border-[#efefef]">
    <div class="w-full md:w-4/5 flex  mx-auto h-24 items-center justify-between">
        <div class="h-full py-5 flex items-center justify-center md:hidden" id="hamburger">
            <svg width="28" height="20" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1H13M1 5H13M1 9H13" stroke="#212135" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <h1 class="font-medium text-soft-gray">Welcome, {{author.name}}</h1>
    </div>
</header>
<script>
    const hamburger = document.querySelector("#hamburger")
    hamburger.addEventListener('click', function(e){
        document.querySelector("#responsive-admin-sidebar").classList.toggle("hidden")
    })
</script>